@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 154, 154); 
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5b5a5a; 
    transition: 0.3s;
  }